extends layout

block content
    .container.flex-column
        .row.d-none.user-container User Container
        .row.d-none.game-container Game Container

    block scripts
        script(src='/javascripts/game.js')
