header
    nav.bg-retro-games.navbar.navbar-dark.px-4
        a.navbar-brand(href="#")
            img.logo.d-inline-block(alt='', height='auto', width='72px', src='/images/logo.png')
            span.ml-2.logo-title RetroGames

        button.btn.btn-primary(id='btn-logout') Logout
