header
    nav.navbar.navbar-dark.bg-retro-games.text-center
        a.navbar-brand.w-100(href="#")
            img.logo.d-inline-block(alt='', height='auto', width='72px', src='/images/logo.png')
            span.ml-2.logo-title RetroGames

    block scripts
        script(src='/javascripts/header.js')
