extends layout

block header 
    include header.jade

block content
    .container.flex-column
        .row.d-none.justify-content-center.mb-5.user-container
            .col-12.font-weight-bold.mb-3.text-center 
                p.welcome-message Bienvenido usuario
            .col-8.col-sm-4.col-md-3.col-lg-2.mb-3.mx-auto
                img.avatar-drag-img(id='avatar', height='auto', width='100%', draggable='true', ondragstart='drag(event)', src='/images/avatar-0.jpg')
            .col-12.mb-3.text-center
                button.btn.btn-primary.button-play.d-none.mx-1(id='btn-play') Entrar al juego
                button.btn.btn-danger.button-leave.d-none.mx-1(id='btn-leave') Abandonar sala
            .col-12.mb-3.text-center
                p Arrastre su avatar a una sala de juego para entrar
            .col-12.col-sm-10.col-md-6.col-lg-4.d-none.mb-3.justify-content-center.response-error
                svg.bi.bi-exclamation-triangle.my-auto(xmlns='http://www.w3.org/2000/svg', width='48', height='48', fill='currentColor', viewBox='0 0 16 16')
                    path(d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z')
                    path(d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z')
                p.response-error-message.ml-3.my-auto

        .row.d-none.room-container
            .col-12.col-sm-6.col-lg-3.mb-4
                .card.card-box
                    .card-header.font-weight-bold.room-title.text-center
                    .card-body.room-body.pb-0(id='room-1', ondrop='drop(event, 1)', ondragover='allowDrop(event, 1)')

            .col-12.col-sm-6.col-lg-3.mb-4
                .card.card-box
                    .card-header.font-weight-bold.room-title.text-center
                    .card-body.room-body.pb-0(id='room-2', ondrop='drop(event, 2)', ondragover='allowDrop(event, 2)')

            .col-12.col-sm-6.col-lg-3.mb-4  
                .card.card-box
                    .card-header.font-weight-bold.room-title.text-center
                    .card-body.room-body.pb-0(id='room-3', ondrop='drop(event, 3)', ondragover='allowDrop(event, 3)')

            .col-12.col-sm-6.col-lg-3.mb-4
                .card.card-box
                    .card-header.font-weight-bold.room-title.text-center
                    .card-body.room-body.pb-0(id='room-4', ondrop='drop(event, 4)', ondragover='allowDrop(event, 4)')

    block scripts
        script(src='/javascripts/home.js')
