doctype html
html(lang='es')
    head
        title= title

        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
        title RetroGames
        
        link(rel='stylesheet', href='/stylesheets/libs/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='/javascripts/libs/jquery-3.6.4.min.js')
        script(src='/javascripts/libs/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
  
    body
        block header

        main
            block content
