extends layout.jade

block content
    .align-items-center.container.d-flex.flex-column
        .card.card-box.col-12.col-sm-10.col-md-6.p-0
            .card-body
                nav.bg-retro-games.mb-4.navbar.navbar-dark.text-center
                    a.navbar-brand.w-100(href="#")
                        img.logo.d-inline-block(alt='', height='auto', width='72px', src='/images/logo.png')
                        span.ml-2.logo-title RetroGames

                form(id='register-form', role='form')
                    .align-items-center.d-flex.flex-column.text-center
                        label.form-label.font-weight-bold(for='avatar') Avatar * 
                        .form-group.mb-3.row.w-100
                            .col-6.col-sm-4.col-lg-2
                                label.form-label.font-weight-bold(for='avatar-1')
                                    input(id='avatar-1', name='avatar', value='avatar-1', type='radio')
                                    img.avatar-img(height='auto', width='100%', src='/images/avatar-1.jpg')
                            .col-6.col-sm-4.col-lg-2
                                label.form-label.font-weight-bold(for='avatar-2')
                                    input(id='avatar-2', name='avatar', value='avatar-2', type='radio')
                                    img.avatar-img(height='auto', width='100%', src='/images/avatar-2.jpg')
                            .col-6.col-sm-4.col-lg-2
                                label.form-label.font-weight-bold(for='avatar-3')
                                    input(id='avatar-3', name='avatar', value='avatar-3', type='radio')
                                    img.avatar-img(height='auto', width='100%', src='/images/avatar-3.jpg')
                            .col-6.col-sm-4.col-lg-2
                                label.form-label.font-weight-bold(for='avatar-4')
                                    input(id='avatar-4', name='avatar', value='avatar-4', type='radio')
                                    img.avatar-img(height='auto', width='100%', src='/images/avatar-4.jpg')
                            .col-6.col-sm-4.col-lg-2
                                label.form-label.font-weight-bold(for='avatar-5')
                                    input(id='avatar-5', name='avatar', value='avatar-5', type='radio')
                                    img.avatar-img(height='auto', width='100%', src='/images/avatar-5.jpg')
                            .col-6.col-sm-4.col-lg-2
                                label.form-label.font-weight-bold(for='avatar-6')
                                    input(id='avatar-6', name='avatar', value='avatar-6', type='radio')
                                    img.avatar-img(height='auto', width='100%', src='/images/avatar-6.jpg')
                            .form-field-error.d-none.mx-auto
                    .form-group.mb-3
                        label.form-label.font-weight-bold(for='email') Correo electrónico * 
                        input.form-control(id='email', name='email', placeholder='Correo electrónico', type='email')
                        .form-field-error.d-none
                    .form-group.mb-3
                        label.form-label.font-weight-bold(for='username') Nombre de usuario * 
                        input.form-control(id='username', name='username', placeholder='Nombre de usuario', type='text')
                        .form-field-error.d-none
                    .form-group.mb-3
                        label.form-label.font-weight-bold(for='password') Contraseña * 
                        input.form-control(id='password', name='password', placeholder='Contraseña', type='password')
                        .form-field-error.d-none
                    .response-error.d-none.mb-3
                        svg.bi.bi-exclamation-triangle.my-auto(xmlns='http://www.w3.org/2000/svg', width='48', height='48', fill='currentColor', viewBox='0 0 16 16')
                            path(d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z')
                            path(d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z')
                        p.response-error-message.ml-3.my-auto Mensaje de error
                    .response-success.d-none.mb-3
                        svg.bi.bi-check-circle.my-auto(xmlns='http://www.w3.org/2000/svg', width='48', height='48', fill='currentColor', viewBox='0 0 16 16')
                            path(d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
                            path(d='M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z')
                        p.response-success-message.ml-3.my-auto Registro completado correctamente, redirigiendo a la pantalla de login en 3 segundos...
                    .text-center
                        button.btn.btn-primary(type='submit') Registrarse
        p.col-12.col-sm-10.col-md-6.mt-2.p-0.text-right ¿Ya estás registrado?
            a(href='/login')  Inicia sesión.

    block scripts
        script(src='/javascripts/register.js')
