extends layout

block content
    .container.flex-column
        .players-container.row.mb-3
            .player.col-6.col-sm-4.col-md-3.col-lg-2.mb-3.mx-auto
                .player-img.mb-4
                    img.avatar-drag-img-blue(id='avatar-0', height='auto', width='100%', src='/images/avatar-0.jpg')
                h3.score-blue.player-score.font-weight-bold.text-center 0 (0%)
                .player-name.font-weight-bold.mb-3.text-center Jugador 1
            .player.col-6.col-sm-4.col-md-3.col-lg-2.mb-3.mx-auto
                .player-img.mb-4
                    img.avatar-drag-img-red(id='avatar-1', height='auto', width='100%', src='/images/avatar-0.jpg')
                h3.score-red.player-score.font-weight-bold.text-center 0 (0%)
                .player-name.font-weight-bold.mb-3.text-center Jugador 2
            h4.player-info.font-weight-bold.mb-3.text-center.w-100 Esperando a tu rival...
            .button-leave.col-12.mb-3.text-center
                button.btn.btn-primary.mx-1(id='btn-leave') Salir del juego
        .room-board.d-none.row
                - for (var i = 0; i < 25; i++)
                    .cell
                        canvas(id=`canvas-${i}`, height='100%', width='100%')

    block scripts
        script(src='/javascripts/room.js')
