body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

main {
    padding: 48px;
}

.logo {
    border-radius: 100%;
}
    
.logo-title {
    color: #007824;
    font-weight: bold;
}

.bg-retro-games {
    background-color: #EDEDED;
}

.avatar-img {
    border-radius: 100%;
}

.avatar-drag-img {
    border: 6px solid #000;
    border-radius: 100%;
}

.avatar-drag-img-blue {
    border: 4px solid #007BFF;
    border-radius: 100%;
}

.avatar-drag-img-red {
    border: 4px solid #DC3545;
    border-radius: 100%;
}

.card-box {
    background-color: #EDEDED;
    border-color: #000;
}

.card-header {
    border-bottom-color: #000;
}

.form-field-error {
    color: #DC3545;
    font-weight: bold;
    padding: 10px 2px;
}

.response-error {
    border: 2px solid #DC3545;
    border-radius: 4px;
    color: #DC3545;
    font-weight: bold;
    padding: 10px;
}

.response-success {
    border: 2px solid #28A745;
    border-radius: 4px;
    color: #28A745;
    font-weight: bold;
    padding: 10px;
}

.room-body {
    min-height: 210px;
}

.room-board {
    background-color: #FFE9C5;
    border: 4px solid #000;
    margin-left: auto;
    margin-right: auto;
    max-height: 320px;
    max-width: 300px;
    padding: 4px;
}

.score-blue {
    color: #007BFF;
}

.score-red {
    color: #DC3545;
}

.cell {
    border: 4px solid #000;
    height: calc(auto - 8px);
    margin: 4px;
    width: calc(20% - 8px);
}

.cell canvas {
    width: 100%;
    height: 100%;
}

.cell-blue {
    background-color: #007BFF;
}

.cell-red {
    background-color: #DC3545;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    outline: 4px solid #007BFF;
}
